* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.sidebar{
  display: none;
}

.sidebar.open {
  display: block;
}

.animate {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  
}